@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Red Rose',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*overflow-x: hidden;*/
}
@media (min-width: 300px){
  nav{
    /*margin-top: 36px;*/
    margin-bottom: 133px;
    background: white;
  }
  #mynav{
    padding-top: 36px;
  }
  .logo{
    width: 233px;
    height: 37px;
    margin-left: 17px;
  }
  .nav-font{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
    margin-right: 48px;
  }
  .nav-fon{
    margin-left: 68px;
  }
  .nav-fonn{
    margin-left: 72px;
  }
  a{
    color: unset;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
    color: unset;
  }
  .pad button{
    width: 170px;
    height: 48px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 130px;
    border: 0px;
  }
  .first_note{
    width: 50vw;
    margin-top: 30px;
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
    margin-bottom: 48px;
  }
  .first_note .note{
    color: #A02279;
  }
  .hun{
    margin-top: 216px;
    width: 100%;
    margin-bottom: 48px;
  }
  .hunn{
    padding-right: 7%;
    padding-left: 7%;
  }
  .hunnn{
    padding-right: 7%;
    padding-left: 7%;
    width: 99vw;
  }
  .first_img{
    margin-left: 99px;
    width: 476px;
    height: 459px;
  }
  .first__note{
    width: 636px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
    margin-bottom: 48px;
  }
  input[type=text]{
    width: 390px;
    height: 54px;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #B8B8B8;
    padding-top: 19px;
    padding-left: 15px;
    padding-bottom: 19px;
  }
  .myinput{
    width: 664px;
    margin-bottom: 96px;
  }
  .myinput button{
    width: 230px;
    height: 54px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  .divide{
    width: 100%;
    margin-bottom: 58px;
  }
  .inspire{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 43px;
  }
  .cards{
    width: 292px;
    height: 372px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 24px;
  }
  .space{
    margin-right: 94px;
  }
  .space_{
    margin-right: 20px;
  }
  .b__word{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .b_word{
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
  }
  .ava{
    width: 100%;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
  }
  .star{
    width: 92px;
    height: 12px;
    margin-bottom: 16px;
  }
  .b_footer{
    width: 100%;
    margin-top: 30px;
    height: 774px;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
  }
  .b__f{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 35px;
    margin-top: 186px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b__s{
    font-weight: 400;
    font-size: 18px;
    width: 415px;
    margin-bottom: 72px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b_footer button{
    width: 156px;
    height: 48px;
    background: white;
    border: 0px;
    border-radius: 8px;
    font-weight: 400;
    color: #A02279;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 33px;
    text-align: center;


  }
  .b_img{
    margin-top: 100px;
    width: 661px;
    margin-left: 68px;
  }
  footer{
    width: 100%;
    background: #1D1D1E;
  }
  .last{
    height: unset;
    background: #1D1D1E;
    padding: 64px 209px 37px 113px;
  }
  .w_logo{
    width: 233px;
    margin-bottom: 100px;
  }
  .social_img{
    width: 18px;
    height: 18px;
  }
  .social{
    width: 124px;
    margin-bottom: 54px;
  }
  .c{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F7F7F7;
  }
  .top{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 23px;
  }
  .child{
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #F1F3F9;
    margin-bottom: 5px;
  }
  .mar{
    margin-left: 197px;
  }
  .back{
    margin-top: 206px;
    margin-bottom: 64px;
  }
  .loca button{
    width: 170px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
    line-height: 20px;
    color: black;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
  }
  .set{
    width: 24px;
    margin-left: 40px;
  }
}

@media (min-width: 1280px){
  nav{
    /*margin-top: 36px;*/
    margin-bottom: 133px;
    background: white;
  }
  #mynav{
    padding-top: 36px;
  }
  .logo{
    width: 233px;
    height: 37px;
    margin-left: 17px;
  }
  .nav-font{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #434343;
    margin-right: 48px;
  }
  .nav-fon{
    margin-left: 68px;
  }
  .nav-fonn{
    margin-left: 72px;
  }
  a{
    color: unset;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
    color: unset;
  }
  .pad button{
    width: 170px;
    height: 48px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 130px;
    border: 0px;
  }
  .first_note{
    width: 50vw;
    margin-top: 30px;
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #434343;
    margin-bottom: 48px;
  }
  .first_note .note{
    color: #A02279;
  }
  .hun{
    margin-top: 216px;
    width: 100%;
    margin-bottom: 48px;
  }
  .hunn{
    padding-right: 7%;
    padding-left: 7%;
  }
  .hunnn{
    padding-right: 7%;
    padding-left: 7%;
    width: 99vw;
  }
  .first_img{
    margin-left: 99px;
    width: 476px;
    height: 459px;
  }
  .first__note{
    width: 636px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #434343;
    margin-bottom: 48px;
  }
  input[type=text]{
    width: 390px;
    height: 54px;
    background: rgba(247, 247, 247, 0.1);
    border: 1px solid #A3A3A3;
    border-radius: 8px 0px 0px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #B8B8B8;
    padding-top: 19px;
    padding-left: 15px;
    padding-bottom: 19px;
  }
  .myinput{
    width: 664px;
    margin-bottom: 96px;
  }
  .myinput button{
    width: 230px;
    height: 54px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    border-radius: 0px 8px 8px 0px;
    border: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  .divide{
    width: 100%;
    margin-bottom: 58px;
  }
  .inspire{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 43px;
  }
  .cards{
    width: 292px;
    height: 372px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 16px;
    margin-bottom: 24px;
  }
  .space{
    margin-right: 94px;
  }
  .space_{
    margin-right: 20px;
  }
  .b__word{
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .b_word{
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
  }
  .ava{
    width: 100%;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
  }
  .star{
    width: 92px;
    height: 12px;
    margin-bottom: 16px;
  }
  .b_footer{
    width: 100%;
    margin-top: 30px;
    height: 774px;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
  }
  .b__f{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 35px;
    margin-top: 186px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b__s{
    font-weight: 400;
    font-size: 18px;
    width: 415px;
    margin-bottom: 72px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .b_footer button{
    width: 156px;
    height: 48px;
    background: white;
    border: 0px;
    border-radius: 8px;
    font-weight: 400;
    color: #A02279;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 33px;
    text-align: center;


  }
  .b_img{
    margin-top: 100px;
    width: 661px;
    margin-left: 68px;
  }
  footer{
    width: 100%;
    background: #1D1D1E;
  }
  .last{
    height: 322px;
    background: #1D1D1E;
    padding: 64px 209px 37px 113px;
  }
  .w_logo{
    width: 233px;
    margin-bottom: 100px;
  }
  .social_img{
    width: 18px;
    height: 18px;
  }
  .social{
    width: 124px;
    margin-bottom: 54px;
  }
  .c{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F7F7F7;
  }
  .top{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 23px;
  }
  .child{
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #F1F3F9;
    margin-bottom: 5px;
  }
  .mar{
    margin-left: 197px;
  }
  .back{
    margin-top: 206px;
    margin-bottom: 64px;
  }
  .loca button{
    width: 170px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
    line-height: 20px;
    color: black;
    border: 1px solid #B4B4B4;
    border-radius: 8px;
  }
  .set{
    width: 24px;
    margin-left: 40px;
  }
}
@media (min-width: 1440px){
  .logo{
    margin-left: 69px;
  }
  .pad button{
    margin-left: 100px;
  }
  .nav-fon{
    margin-left: 163px;
  }
  .first_note {
    width: 45vw;
    font-size: 56px;
  }
  .b_img{
    margin-top: 100px;
    width: 661px;
    margin-left: 148px;
  }
}
